.banner {
    background: url("../img/banner/bg-banner.jpg");
    background-size: 100%;
    height: 500px;

    background-repeat: no-repeat;
    padding: 40px 0;
    .left {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
            width: 108px;
            height: 105px;
            object-fit: cover;
        }
    }
    .slogan {
        color: $color-white;
        display: block;
        background: linear-gradient(90deg, #234c14 0%, #068e44 100%);
        border-radius: 100px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        padding: 12px 38px;
        line-height: 22px;
        margin-top: 15px;
    }
    .name {
        font-weight: 400;
        font-size: 36px;
        font-family: "UTM";
        // text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
        // border: 2px solid #ffffff;
        text-transform: uppercase;
        margin-bottom: 20px;
        // text-shadow: 0px 5px 5px #fff;
    }
    .hotline {
        font-size: 18px;
        padding: 11px 36px;
        background: linear-gradient(90deg, #fed026 0%, #ed6238 100%);
        border: 2px solid #ffefc7;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        color: $color-white;
        text-transform: uppercase;
        font-weight: 700;
    }
    .right {
        position: relative;
        padding-left: 60px;
        padding-top: 145px;
        img {
            position: absolute;
            object-fit: cover;
        }
        .center {
            position: relative;
            width: 328px;
            height: 309px;
        }
        #r1 {
            top: 220px;
            left: 40px;
            width: 96px;
            height: 95px;
        }
        #r2 {
            top: 100px;
            left: 15px;
            width: 110px;
            height: 110px;
        }
        #r3 {
            width: 133px;
            height: 131px;
            top: 0px;
            left: 85px;
        }
        #r4 {
            width: 110px;
            height: 100px;
            left: 225px;
            top: 10px;
        }
        #r5 {
            width: 101px;
            height: 101px;
            left: 300px;
            top: 85px;
        }
        #r6 {
            width: 98px;
            height: 98px;
            left: 324px;
            top: 185px;
        }
        #r7 {
            width: 88px;
            height: 88px;
            left: 300px;
            top: 275px;
        }
    }
}

.intro {
    .heading {
        font-size: 36px;
        font-weight: 900;
        text-align: center;
    }
    .heading-des {
        color: #484848;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
    }
    .content {
        padding: 0 130px;
        margin-top: 44px;
    }
    &-img {
        padding-right: 30px;
        position: relative;
        img {
            height: 274px;
            object-fit: cover;
            width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            width: 85%;
            height: 227px;
            border: 1px solid #a6ce39;
            border-radius: 5px;
            top: -12px;
            right: 15px;
            z-index: -1;
        }
    }
    .detail {
        align-items: center;
        display: flex;
        text-align: justify;
        flex: 1;
        span {
            font-weight: 700;
            font-style: italic;
        }
    }
}
