.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    color: $color-black;
}

.global-heding {
    background-image: linear-gradient(to right, #116118, #afce4a);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
