$color-black: #000;
$color-red: #ed1c24;
$text-color: #454545;
$text-des: #a4a4a4;
$color-global-dark: #49326b;
$color-green: #1c9204;
$color-white: #fff;
$background-gradient: linear-gradient(90deg, #fed026 0%, #ed6238 100%);
