@include maxWidth(576px) {
    .banner-product {
        width: 241px;
        height: 210px;
    }
    .banner-balloon {
        img {
            &:nth-child(1) {
                width: 70px;
                height: 70px;
                left: -20%;
                top: 50%;
            }
            &:nth-child(2) {
                width: 85px;
                height: 85px;
                left: -17%;
                top: 22%;
            }
            &:nth-child(3) {
                height: 90px;
                width: 90px;
                top: -2%;
                left: 1%;
            }
            &:nth-child(4) {
                height: 80px;
                width: 80px;
                left: 40%;
                top: -5%;
            }
            &:nth-child(5) {
                height: 80px;
                width: 80px;
                left: 72%;
            }
            &:nth-child(6) {
                height: 70px;
                width: 70px;
                left: 80%;
                top: 38%;
            }
            &:nth-child(7) {
                left: 80%;
                top: 62%;
            }
        }
    }
}
